<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ user_manager.app_name }}</title>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
      hr {
        border-color: #cccccc;
        margin: 0;
      }
      .no-margins {
        margin: 0px;
      }
      .with-margins {
        margin: 10px;
      }
      .col-centered {
        float: none;
        margin: 0 auto;
      }
    </style>

    {# *** Allow sub-templates to insert extra html to the head section *** #} {% block extra_css %}{% endblock %}
  </head>

  <body>
    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">{{ user_manager.app_name }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link float-right" href="/exchange">Exchange</a>
              <a class="nav-item nav-link float-right" href="/leaderboard">Leaderboard</a>
              <a class="nav-item nav-link float-right" href="/account">Account</a>
              <a class="nav-item nav-link" href="/api">API</a>
            </div>
          </div>
          <div class="float-right">
            {% if call_or_get(current_user.is_authenticated) %}
            <a href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
            {% else %}
            <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
            {% endif %}
          </div>
        </nav>
      </div>
    {% block menu %} {% endblock %}
    <hr class="no-margins" />

    <div id="main-div" class="with-margins">
      {# One-time system messages called Flash messages #} {% block flash_messages %} {%- with messages =
      get_flashed_messages(with_categories=true) -%} {% if messages %} {% for category, message in messages %} {% if
      category=='error' %} {% set category='danger' %} {% endif %}
      <div class="alert alert-{{category}}">{{ message|safe }}</div>
      {% endfor %} {% endif %} {%- endwith %} {% endblock %} {% block main %} {% block content %}{% endblock %} {%
      endblock %}
    </div>

    <br />
    <hr class="no-margins" />
    <div id="footer-div" class="clearfix with-margins">
      <div class="pull-left">{{ user_manager.USER_APP_NAME }} {{ user_manager.USER_APP_VERSION }}</div>
      <div class="pull-right">
        &copy; {{ user_manager.USER_COPYRIGHT_YEAR }} {{ user_manager.USER_CORPORATION_NAME }}
      </div>
    </div>
    {% endblock %}

    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #} {% block extra_js %}{% endblock %}
  </body>
</html>
