{% extends 'base.html' %} {% block content %}
<!-- Not sure yet why the scripts have to be loaded sepperately-->
<script type="text/javascript" src="static/js/script.js"></script>
<script type="text/javascript" src="static/js/close_contract.js"></script>
<script type="text/javascript" src="static/js/open_contract_short.js"></script>

<h1>Contract Exchange</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_8c01e"></div>
  <div class="tradingview-widget-copyright">
    <a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"
      ><span class="blue-text">BTCUSDT Chart</span></a
    >
    by TradingView
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget({
      width: 980,
      height: 610,
      symbol: "BINANCE:BTCUSDT",
      interval: "60",
      timezone: "Etc/UTC",
      theme: "light",
      style: "1",
      locale: "en",
      toolbar_bg: "#f1f3f6",
      enable_publishing: false,
      allow_symbol_change: true,
      container_id: "tradingview_8c01e",
    });
  </script>
</div>
<!-- TradingView Widget END -->
<div class="container-fluid">
  <form class="d-flex justify-content-center align-items-center form-inline">
    <label for="market">Market</label>
    <select name="market" id="selectedmarket">
      <option value="btc_usd">BTC</option>
      <option value="eth_usd">ETH</option>
      <option value="xrp_usd">XRP</option>
      <option value="ltc_usd">LTC</option>
    </select>
    <label for="position_size"><div class="pos-label">Amount</div></label>
    <input type="number" name="position_size" min="0" max="1000" value="100" step="1" />
  </form>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <a href="#" id="open_contract_long">
      <button class="btn btn-success m-2">
        <h4>Open Long Contract</h4>
      </button>
    </a>
    <a href="#" id="open_contract_short">
      <button class="btn btn-danger m-2">
        <h4>Open Short Contract</h4>
      </button>
    </a>
  </div>
</div>

<div id="contract-section">
  <h1>Open Contracts</h1>

  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">date</th>
          <th scope="col">market</th>
          <th scope="col">type</th>
          <th scope="col">size</th>
          <th scope="col">entry price</th>
          <th scope="col">status</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        {% for contract in contracts %} {% if contract.status == 'open' %}
        <tr>
          <th class="align-middle">{{contract.id}}</th>
          <td class="align-middle">{{contract.date_open }}</td>
          <td class="align-middle">{{contract.market}}</td>
          <td class="align-middle">{{contract.contract_type}}</td>
          <td class="align-middle">{{contract.size}}</td>
          <td class="align-middle">{{contract.entry_price}}</td>
          <td class="align-middle">{{contract.status}}</td>
          <td>
            <form class="form-inline">
              <input type="hidden" name="contract" value="{{contract.id}}" />
              <a href="#" id="close_contract"><button class="btn btn-info">Close</button></a>
            </form>
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>

  <h1>Closed Contracts</h1>

  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">date</th>
          <th scope="col">market</th>
          <th scope="col">type</th>
          <th scope="col">size</th>
          <th scope="col">entry price</th>
          <th scope="col">exit price</th>
          <th scope="col">trade result %</th>
          <th scope="col">trade result USD</th>
          <th scope="col">status</th>
        </tr>
      </thead>

      <tbody>
        {% for contract in contracts %} {% if contract.status == 'closed' %}
        <tr>
          <th class="align-middle">{{contract.id}}</th>
          <td class="align-middle">{{contract.date_open }}</td>
          <td class="align-middle">{{contract.market}}</td>
          <td class="align-middle">{{contract.contract_type}}</td>
          <td class="align-middle">{{contract.size}}</td>
          <td class="align-middle">{{contract.entry_price}}</td>
          <td class="align-middle">{{contract.close_price}}</td>
          <td class="align-middle">{{contract.trade_result_pct|round(5)}}</td>
          <td class="align-middle">{{contract.trade_result_usd|round(2)}}</td>
          <td class="align-middle">{{contract.status}}</td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock %}
</div>
